
@font-face{
	font-family: "Century Gothic";
	src:url(fonts/GOTHIC.TTF);
}
textarea{
	overflow: auto;
}
a{
	text-decoration: none;

}
input:active{
	outline: none;
}
input:focus{
	outline: none;
}
body{
	margin: 0px;
	padding: 0px;
	max-height: 6000px;
	overflow: auto;
}
.wrap{
	/*width: 100%;
	text-align: center;
	max-width: 100%;
	display: flex;
	justify-content: center;
	height: auto;*/
	width: 100%;
	text-align: center;
	min-width: 100%;
}

.logo{
	
	display: flex;
	justify-content: center;
	position: absolute;
	top: 20px;
	
}
	.tablen{
	width: 100%;
	text-align: center;
	max-width: 100%;
	display: flex;
	justify-content: center;
	
	
	}
@media(max-width: 900px){
	.logo{
		top: 10px;
	}
}
@media(max-width: 800px){
	.logo{
		top: 10px;
		width: auto;
		height: 20px;
	}
}
.pic{
	width: 100%;
}
.headd{
	width: 100%;
	
	max-width: 100%;
}
@media(max-width: 650px){
		.tablen{
			min-height: 58px;
		}
		.wrap{
			height: 58px;
			min-height: 58px;
		}
		.headd{
			height: 58px;
		}
	}


}
.table{
	width: 100%;
	text-align: center;
	min-width: 100%;
	position: relative;
	

}


.head{
	display: flex;
	justify-content: center;
}
.div-logo{
	margin-top: 20px;
	justify-content: center;
	display: flex;
	bottom: 550px;
	position: absolute;
	width: 100%;

}
.senza-logo{
	
	max-width: 100%;
}



.model-photo{
	width: 100%;
	height: auto;
	background-color: #ffffff;
	
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
.mod{
	width: 785px;
	height: 545px;
	animation-name: example;
	animation-duration: 1s;
	box-shadow: 0px 0px 0px 0px;
	max-width: 100%;
	box-shadow: 0 0 20px;
	
}
	
@keyframes example{
	0% {opacity: 0;}
	10% {opacity: 0.1;}
	15% {opacity: 0.15;}
	20% {opacity: 0.2;}
	25% {opacity: 0.25;}
	30% {opacity: 0.3;}
	35% {opacity: 0.35;}
	40% {opacity: 0.4;}
	45% {opacity: 0.45;}
	50% {opacity: 0.5;}
	55% {opacity: 0.55;}
	60% {opacity: 0.6;}
	65% {opacity: 0.65;}
	70% {opacity: 0.7;}
	75% {opacity: 0.75;}
	80% {opacity: 0.8;}
	85% {opacity: 0.85;}
	90% {opacity: 0.9;}
	95% {opacity: 0.95;}
	100% {opacity: 1;}

}
.desc{
	height: auto;
	background-color: #ffffff;
	width: 100%;
	
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Century Gothic";

}
.desc-text{
	width: auto;
	font-family: "Century Gothic";
	height: auto;
	font-weight: bold;
	opacity: 0.79;
	text-align: center;
	margin-top: 300px;
	margin-bottom: 20px;
	font-size: 17px;

}
@media(max-width: 1080px){
		
	.desc-text{
		font-size: 16px;
		margin-bottom: 100px;
	}
	
}
@media(max-width: 812px){
	.desc-text{
		font-size: 15px;
	}
}
@media(max-width: 510px){
	.desc-text{
		font-size: 12px;

	}
}
.mainblock{
	height: auto;
	width: 100%;
	background: linear-gradient(to bottom, #fefefe 1% , #191819 2% );
	display: block;
	justify-content: center;

}


.hh{
	font-size: 42px;
	color: #ffffff;
	margin-top: 0px;
	font-family: "Century Gothic";
	opacity: 0.74;
	width: 100%;
	text-align: center;
	padding-top: 100px;

	
}
@media(max-width: 1020px){
	.hh{
		font-size: 35px;
	}
}
@media(max-width: 820px){
	.hh{
		font-size: 30px;
	}
}
@media(max-width: 740px){
	.hh{
		font-size: 25px;
	}
}
.feature{
	font-family: "Century Gothic";
	font-size: 21px;
	margin-top: 50px;
	opacity: 0.74;
	color: #ffffff;
	text-align: center;
	font-weight: bold;

}
.feature.margin{
	margin-top: 0px;
}
@media(max-width: 1080px){
		
	.feature{
		font-size: 20px;
	}
	
}
@media(max-width: 812px){
	.feature{
		font-size: 18px;
	}
}

.png{
	display: flex;
	justify-content: center;
	width: 100%;
}
.adapt{
	width: auto;
	height: auto;
	max-width: 100%;
}
.shirt{
	
	max-width: 100%;
	margin-top: 100px;
	width: 99.7%;
	height: auto;
	margin-bottom: 100px;



}
@media(max-width: 1125px){
	.shirt{
		width: auto;
		height: auto;
	}
}
.pic{
	display: flex;
	width: 100%;
	
	justify-content: center;

	}

.button-div{
	
	width: 100%;
	height: 50px;
	top: 3700px;
	position: fixed absolute;
	justify-content: flex-end;
	align-items: flex-end;
	background-color: #191919;
	display: flex;

	
}




	




.requests{
	width: 100%;
	height: auto;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}


.texts{
	display: flex;
	justify-content: center;
	font-size: 67px;
	margin-top: 50px;
	font-family: "Century Gothic";

}
@media(max-width: 930px){
	.texts{
		font-size: 48px;
	}
}

.email{
	margin-right: 380px;
	width: 300px;
	height: 30px;
	margin-top: 140px;
	font-size: 20px;
	font-family: "Century Gothic";


}

.email::placeholder{
	font-family: "Century Gothic";
	font-size: 20px;
	padding-left: 20px;
	padding-top: 35px;

}
.text-inp{
	margin-left: 100px;
	margin-top: 80px;
	width: 700px;
	height: 300px;
	font-size: 20px;
	font-family: "Century Gothic";
	margin-right: 5%;
	resize: none;
	overflow: auto;

}

@media(max-width: 830px){

}
.text-inp::placeholder{
	font-family: "Century Gothic";
	font-size: 20px;
	padding-left: 20px;
	padding-top: 0px;
	margin-bottom: 100px;

}
.star{
	width: 7px;
	height: 7px;
	position: fixed;
	
	
	
}
@media(max-width: 830px){
	.email{
		margin-right: 230px;
	}
	.text-inp{
		width: 600px;
	}
}
@media(max-width: 730px){
	.email{
		margin-right: 310px;
	}
	.text-inp{
		margin-left: 5px;
	}
}
@media(max-width: 680px){
	.text-inp{
		width: 500px;
		height: 130px;
		font-size: 14px;
	}
	.email{
		font-size:14px; 
		width: 250px;
		height: 30px;
		margin-right: 270px;
	}
	.text-inp::placeholder{
		font-size: 14px;

	}
	.email::placeholder{
		font-size: 14px;
	}
	.texts{
		font-size: 35px;
	}
}
@media(max-width: 575px){
	.text-inp{
		width: 350px;

	}
	.email{
		margin-right: 110px;
	}

}
.star:hover{
cursor: pointer;
}
.popup{
	height: 900px;
	width: 950px;
	background-color: #ffffff;
	overflow: none;
	top: 2900px;
	flex-direction: row;
	position: absolute;
	display: none;
	z-index: 201;
	margin-bottom: 100px;
}

.popup-start{
	display: flex;

}
.popup-cover{
	background-color: #000000;
	z-index: 1000;
	overflow: hidden;
	height: 0px;

}
.cover{
	background-color: #000000;
	height: 4670px;
	width: 100%;
	position: absolute;
	opacity: 0.5;
	z-index: 200;
	display: none;


}

@media(max-width: 1660px){
	.popup{
		height: 800px;
	}
}
@media(max-width: 1400px){
	.popup{
		height: 700px;
	}
}
@media(max-width: 1280px){
	.popup{
		height: 620px;
	}
}
@media(max-width: 1350px ){
	.cover{
		height: 4450px;
	}
}

@media(max-width: 1080px ){
	.cover{
		height: 4450px;
	}
}
@media(max-width: 1000px ){
	.cover{
		height: 4300px;
	}
}

@media(max-width: 860px ){
	.cover{
		height: 4180px;
	}
}
@media(max-width: 780px ){
	.cover{
		height: 3940px;
	}
}

@media(max-width: 740px ){
	.cover{
		height: 3800px;
	}
}

@media(max-width: 700px ){
	.cover{
		height: 3750px;
	}
}


@media(max-width: 680px ){
	.cover{
		height: 3650px;
	}
}

@media(max-width: 635px ){
	.cover{
		height: 3590px;
	}
}
@media(max-width: 580px ){
	.cover{
		height: 3630px;
	}
}
@media(max-width: 540px ){
	.cover{
		height: 3960px;
	}
}
@media(max-width: 510px ){
	.cover{
		height: 3130px;
	}
}
@media(max-width: 460px ){
	.cover{
		height: 3030px;
	}
}
@media(max-width: 425px ){
	.cover{
		height: 2850px;
	}

}
@media(max-width: 380px ){
	.cover{
		height: 2840px;
	}
}
@media(max-width: 320px){
	.cover{
		height: 2730px;
	}
}


.modal{
	text-decoration: none;
	color: #000000;

	
}
.picture{
	display: flex;	
	justify-content: center;

}

.content{
	margin-left: 3%;
	margin-right: 3%;
	/*border: 1px solid;*/
	width: 94%;
	margin-top: 5%;
	margin-bottom: 5%;	
	height: 90%;
	display: flex;

	
}
.sizes{
	width: 50%;
	/*border: 1px solid;*/
	height: 100%;
	display: flex;
	flex-direction: column;
}
.grey{
	width: 100%;
	height: 60%;
	
}
.grey:hover{
	cursor: -webkit-zoom-in; cursor: -moz-zoom-in;
}
.buttons{
	display: flex;
	justify-content: space-between;
	width: 70%;
	margin-right: 15%;
	margin-left: 15%;
	margin-top: 35px;
	z-index: 1001;
}
.sml{
	width: 40px;
	height: 40px;
	background-color: #ffffff;
	font-family: "Century Gothic";
	border: 1px solid #C7C7C7;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	text-align: center;

}
#sM{
	background-color: #ACACAC;
}
.sml:hover{
	 
	cursor: pointer;
}


.text-gr{
	color: #A0A0A0;
	line-height: 20px;
	font-family: "Century Gothic";
	font-size: 16px;
	margin-left: 15%;
	margin-top: 80px;
}
.four-sizes{
	display: flex;
	width: 50%;
	height: 50%;
	flex-wrap: wrap;
	
	
	
	

}







.four-sizes-pic-p:hover{
	cursor: -webkit-zoom-in; cursor: -moz-zoom-in;
	
}
.two{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	
}
.two.s{
	margin-top: 15px;
	justify-content: center;
}
.sizes-pic-block{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 50%;
}
.inputs{
	display: flex;

	flex-direction: column;
}
.city{
	margin-top: 50px;
	margin-left: 30px;
	width: 400px;
	height: 30px;
	font-family: "Century Gothic";

}
.email4{
	width: 400px;
	height: 30px;
	margin-top: 20px;
	margin-left: 30px;
	font-family: "Century Gothic";
}
.city::placeholder{
	font-family: "Century Gothic";

}
.email4::placeholder{
	font-family: "Century Gothic";

}
.price{
	margin-left: 350px;
	margin-top: 60px;
	font-family: "Century Gothic";
	font-size: 30px;
	font-weight: 700;
}
.button2{
	width: 130px;
	height: 35px;
	margin-left: 305px;
	background-color: #000000;
	font-family: "Century Gothic";
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid;
	font-size: 18px;


}
.button2:hover{
	background-color: #ffffff;
	color: #000000;
	cursor: pointer;
}
#s{
	background-color: #ACACAC;

}

.close{
	
	height: 20px;
	width: 20px;
	float: right;
	

}
/*.close-wrap{
	display: block;
	justify-content: flex-end;
	width: 100%;		
}*/
@media(max-width:640px ){
	.close{
		height: 17px;
		width: 17px;
	}
}
.close:hover{
	cursor: pointer;
}
.send{
	width: 120px;
	height: 25px;
	background-color: #000000;
	margin-top: 50px;
	margin-left: 650px;
	margin-bottom: 100px;
	border: 2px solid #000000;
	font-family: "Century Gothic";
	font-size: 18px;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.send:hover{
	background-color: #ffffff;
	color: #000000;
	cursor: pointer;
}
@media(max-width: 830px){
	.send{
		margin-left: 530px;
	}
	.star{
		width: 7px;
		height: 7px;
	}

}

@media(max-width: 730px){
	.send{
		margin-left: 410px;
	}
}
.modal-pic{
	width: 850px;
	height: 850px;
	background-color: #ffffff;
	position: absolute;
	top: 2900px;
	display: none;
	z-index: 999;
	border-radius: 4px;
	
	max-height: 100%
	max-width: auto;


}
@media(max-width: 900px){
	.modal-pic{
		top: 2800px;
	}
}
@media(max-width: 820px){
	.modal-pic{
		top: 2600px;
		width: 600px;
		height: 600px;
		
	}
}
@media(max-width: 720px){
	.modal-pic{
		top: 2500px;
	}
}
@media(max-width: 640px){
	.modal-pic{
		width: 500px;
		height: 500px;
		margin-bottom: 100px;
	}
}
@media(max-width: 520px){
	.modal-pic{
		width: 350px;
		height: 350px;
		top: 2000px;
	}
}
@media(max-width: 350px){
	.modal-pic{
		width: 320px;
		height: 320px;
	}
}


.modal-pic-content{
	margin-right: 3%;
	margin-left: 3%;
	margin-top: 3%;
	margin-bottom: 3%;
	width: 94%;
	height: 94%;
	
}
.modal-pic-content:hover{
	cursor: -webkit-zoom-out; 
	cursor: -moz-zoom-out;
}

@media(max-width: 800px){
	.mod{
		width: auto;
		height: auto;
		max-width: 100%;
		
	}
}

@media(max-width: 1080px){
	.desc{
		

		height: 300px;
	}
}
.change{
	width: 100%;
	height: 100%;
}
.send-div{
	display: flex;
}
@media(max-width: 575px){
	.send{
		margin-left: 240px;
		width: 100px;
		height: 20px;
		font-size: 15px;


	}

}
@media(max-width: 455px){
	.texts{
		font-size: 25px;
	}
	.star{
		width: 7px;
		height: 7px;

	}
}
@media(max-width: 425px){
	.text-inp{
		width: 285px;
		margin-left: 1%;
		margin-top: 20px;

	}
	.email{
		width: 200px;
		margin-right: 90px;
		margin-top: 80px;
	}
	.send{
		margin-left: 150px;
	}
}
@media(max-width: 330px){
	.texts{
		font-size: 22px;
	}
}



.head{
	height: auto;
	width: 100%;
}
/*@media(max-width: 605px){
	.desc-text{
		font-size: 20px;
	}
}
@media(max-width: 1080px){
	.desc-text{
		font-size: 25px;
	}
}
@media(max-width: 820px){
	.desc-text{
		font-size: 20px;
	}
}
@media(max-width: 740px){
	.desc-text{
		font-size: 17px;
	}
	
}
@media(max-width: 635px){
	.desc-text{
		font-size: 14px;
	}
	.feature{
		font-size: 14px;

	}
	.hh{
		font-size: 26px;
	}
	.texts{
		font-size: 26px;
	}
}*/

@media(max-width: 510px){
	.feature{
		font-size: 12px;

	}
}
@media(max-width: 920px){
	.popup{
		top: 2800px;
	}
}
@media(max-width: 820px){
	.popup{
		top: 2600px;
	}
}


@media(max-width: 720px){
	.popup{
		height: 550px;
		width: 600px;
		top: 2500px;
	}

}





.sizes-pic{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.four-sizes-pic-p{
	width: 190px;
	height: 190px;
	margin-left: 15px;
	display: flex;
	flex-wrap: wrap;

	}
	

@media(max-width: 520px){
		.popup{
			top: 1800px;
			
		}
	
	.four-sizes-pic-p{
		width: 130px;
		height: 130px;
		margin-left: 0px;
	}
	#third{
		margin-right: 7.5px;
	}
	#fourth{
		margin-left: 7.5px;
	}
	#first{
		margin-right: 7.5px;

	}
	#second{
		margin-left: 7.5px;
	}
	.city{
		margin-left: 80px;
	}
	.email4{
		margin-left: 80px;
	}
	.price{
		margin-left: 230px;
		margin-top: 30px;
		
	}
	.button2{
		margin-left: 160px;

	}
	.text-gr{
		margin-top: 60px;
	}
	.sizes{
		height: auto;
		order: 2;
	}
}
@media(max-width: 650px){
	.popup{
		top: 2400px;
	}
}
@media(max-width: 620px){
	.popup{
		height: 450px;
		width: 500px;
	}
	.four-sizes-pic-p{
		width: 105px;
		height: 105px;
	}
	.city{
		width: 180px;
		margin-left: 50px;
	}
	.email4{
		width: 180px;
		margin-left: 50px;
	}
	.price{
		margin-left: 180px;
		margin-top: 5px;

		
	}
	.button2{
		margin-right: 8px;

	}
	.text-gr{
		margin-top: 30px;
	}
	.sml{
		width: 33px;
		height: 33px;
		font-size: 15px;
	}
}










@media(max-width: 520px){
	.cover{
		height: 0px;
	}
	.popup-cover{
	width: 100%;
	height: 1200px;
	background-color: #000000;
	display: none;
	opacity: 0.5;
	position: absolute;
	z-index: 1300;
}
	.content{
		flex-direction: column;
		align-items: center;
		height: 100%;
		order: 1;

	}
	.popup{
		width: 100%;
		height: 100%;
		overflow: auto;
		
		flex-direction: column;
	}
	.sizes{
		width: 100%;
		order: 2;
	}
	.grey{
		
		margin-left: auto;
		margin-right: auto;
		width: 300px;
		height: auto;
		margin-bottom: 20px;
		margin-top: 50px;
		
	}
	

	
	.buttons{
		
		margin
		width: 50%;
		
		margin-left: 25%;
		margin-right: 25%;	
	}
	.text-gr{
		
		
		
		

	}
	.sizes-pic-block{
		
		bottom: 20px;
		width: 100%;
		
		height: auto;
	}
	.inputs-wrap{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		margin-top: 0px;
		
		width: 100%;
		height: auto;
		min-width: 100%;
		
		

		
	}

	
	
	.four-sizes-pic{
		height: auto;
		width: 100%;
		margin-top: 0px;
		
	}
	.four-sizes-pic-p{
		width: 135px;
		height: 135px;
	}
	.price-wrap{
		width: 100%;
		height: auto;
		margin-top: 10px;
		display: flex;
		justify-content: flex-end;
		right: 30px;
	}
	.button-wrap{
		
		margin-top: 10px;
		display: flex;
		width: 100%;
		height: auto;
		justify-content: flex-end;
		margin-bottom: 50px;
		right: 20px;
	}
	.modal-pic{
		top: 2500px;
	}
}
@media(max-width: 340px){
	.grey{
		width: 100%;
	}
}

















#fourth:hover{
	cursor: pointer;

}

.vid2{
	width: 720px;
	height: 600px;
}

.button{
	width: 100px;
	height: 25px;
	background-color: #000000;
	font-family: "Century Gothic";
	color: #e5e3e4;
	margin-bottom: 5px;
	flex-wrap: wrap;
	margin-bottom: 160px;
	margin-right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 10px #000000;



}
@media(max-width: 660px){
	.button{
		width: 70px;
		height: 18px;
		font-size: 12px;
	}
}
@media(max-width:480px ){
	.button{
		width: 55px;
		height: 15px;
		font-size: 9px;
	}
}
.button:hover{
	cursor: pointer;

}
.pic2{
	width: 1266px;
}
@media(max-width: 895px){
	#vid6{
		width: 100%;
		height: auto;
	}
}
.hh.black{
	color: #000000;
}
.em{
	display: flex;
	flex-direction: row;
}
.grey.mobile{
	display: none;
}
.buttons.mobile{
	display: none;
}
.text-gr.mobile{
	display: none;
}

@media(max-width: 520px){
	.text-gr{
		display: none;
	}
	.text-gr.mobile{
		display: block;
		margin-right: 120px;
		margin-left: 0px;

	}
	.grey{
		display: none;
	}
	.grey.mobile{
		display: block;
	}
	.buttons{
		display: none;
	}
	.buttons.mobile{
		display: flex;
	}
}
.gif{
	display: none;
}